<!-- Nabar starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <img  class="navbar-brand"  width="120" height="80" src="../assets/pic1.png">
    <button class="navbar-toggler text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-muted"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="about()">About</a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="events()">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="contact()">Contact</a>
        </li>
      </ul>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
        <button class="btn btn-primary">Register</button>
      </a>
    </div>
  
  </div>
</nav>
<!-- Navbar Ends -->
<!-- About the college starts-->
<br>
<h2 class="text-center">Department Of CSE,CSBS & AIDS</h2>
<div class="container">
<p class="text-justify">The Department of Computer Science and Engineering was started in the year 2009 to render services to the student community to meet as the global industrial experts. The department is well equipped with state of the art laboratories with internet and Wi-Fi facility.
 <br>
 <br>
  The objective of the department is to develop competent professionals with innovative research capabilities. The students must to do a project on or off-campus in the final year with an option to choose their platform and thus they are exposed to the real time computer problems which will mold them to conquer the challenging IT world.
</p>
</div>
<!-- About the college ends -->
<!-- Events starts-->
<br>
<h2 class="text-center">Jfinagles</h2>
<div class="container">
<p class="text-justify"><strong>“JFINAGLES” </strong>is a national level  technical symposium organized by the JCT College of Engineering and Technology,Pichanur, Coimbatore. The Symposium provides an opportunity to share innovative views and ideas on latest and emerging trends in technology.
  Jfinagles 23 is a much awaited technical festival that is tailor made to help future professionals to enhance their technical and interpersonal skills. The Symposium provides scope for kindling minds of the students and updating their knowledge, thereby preparing them for stepping into august industries employing cutting edge technologies. Events at  Jfinagles  are not just renowned for the talented participants and passionate minds but also for the technical excellence and professional manner in which they are conducted.
  </p>
</div>
<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/pic10.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/pic8.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<br>
<div class="text-center">
  <img src="../assets/pic4.jpeg" class="img-thumbnail" alt="...">
  <br>
  <br>
  <h6>DR.Rajiv Suresh Kumar</h6>
  <h6>Head of the Department-CSE</h6>
 
  <br>
  <br>
  </div>
  <div class="text-center">
    <img width="150" height="250" src="../assets/pic7.jpeg" class="img-thumbnail" alt="...">
    <br>
    <br>
    <h6>Prof.Arun</h6>
    <h6>Assistant professor-CSE</h6>
   
    <br>
    <br>
    </div>
  <div class="text-center">
    <img width="150" height="250" src="../assets/pic5.jpeg" class="img-thumbnail" alt="...">
    <br>
    <br>
    <h6>Gunal K</h6>
    <h6>Student Chairman-CSE</h6>
    <br>
    <br>
    </div>
    <div class="text-center">
      <img width="150" height="250" src="../assets/pic6.jpeg" class="img-thumbnail" alt="...">
      <br>
      <br>
      <h6>Pannerselvam</h6>
      <h6>Student Co-ordinator-CSE</h6>
      <br>
      <br>
      </div>
<h2 class="text-center">Events at Jfinagles</h2>
<br>
<div class="container">
  <mat-tab-group>
    <mat-tab label="Code Debugging">
      <br>
      <h6>Rules:</h6>
      <li>Individual participant</li>
      <li>Develop Code in known languages(C/Java/Python) and it should be justified in comments</li>
      <li>Copying code from Online leads to elimination from the contest</li>
      <li>Usage of online compiler leads to  elimination from the contest</li>
      <li>Top Three will be awarded with prize and merit certificate</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
    </mat-tab>
    <mat-tab label="Poster Designing">
      <br>
      <h6>Rules:</h6>
      <li>Individual participant</li>
      <li>You can download the pictures from internet as per your need.</li>
      <li>Copy others design are strictly prohibited </li>
      <li>Judge's decision will be the Final</li>
      <li>Top Three will be awarded with prize and merit certificate</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
    </mat-tab>
    <mat-tab label="Project Expo"> 
      <br>
      <h6>Rules:</h6>
      <li>Technical Papers should be in IEEE format(Max. 12 pages)</li>
      <li>Maximum slides per presentation should be 18.</li>
      <li>Presentation time is limited to 5 mins.</li>
      <li>Limitation: 2-3 Members per team</li>
      <li>The abstracts should be in Times New Roman with font size of 12p, 1.5 line spacing and in Justify alignment.</li>
      <li>While presentation, the snapshots/output of your project should be submitted along with the project title</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
    </mat-tab>
    <mat-tab label="Technical Quiz">
      <br>
      <h6>Rules:</h6>
      <li>A Team of 2 students is allowed.</li>
      <li>Question will we shown on screen and have to choose answers by mobile or system</li>
      <li>Individual Play , choose answers as soon as possible</li>
      <li>Based on correct answer and fast choosing ,Mark will be given</li>
      <li>Judge's decision will be the Final</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
      </mat-tab>
    <mat-tab label="Mobile Photography">
      <br>
      <h6>Rules:</h6>
      <li>Team members must not exceed two</li>
      <li>Duration will be 30 minutes</li>
      <li>Use any convenient tools for editing</li>
      <li>Judge's decision will be the Final</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
    </mat-tab>
    <mat-tab label="Technical Treasure Hunt">
      <br>
      <h6>Rules:</h6>
      <li>A Team of 3 students is allowed.</li>
      <li>Judge's decision will be the Final</li>
      <div class="text-center">
        <br>
        <br>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfF6_CzF6A8sESaH0f_X0omrQ-9U8J0v7PT9WC5jI5Q5UyhbA/viewform">
      <button class="btn btn-danger">Register Now</button>
    </a>
    </div>
      </mat-tab>
  </mat-tab-group>
  <br>
  <br>
</div>
<!-- Events ends -->
<!-- Footer starts -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
<br>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
          Events
          </h6>
          <p>
            <a href="#!" class="text-decoration-none text-muted">CodeDebugging</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-muted">PosterDesigning</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-muted">ProjectExpo</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-muted">TechnicalQuiz</a>
          </p>
          <p>
            <a href="#!" class="text-decoration-none text-muted">MobilePhotography</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
             Links
          </h6>
          <p>
            <a href="https://instagram.com/jfinagles_2k23?igshid=ZDdkNTZiNTM=" class="text-decoration-none text-muted">Instagram</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/doC4m2CsQ9MTQxqc9" class="text-decoration-none text-muted">Locate Us</a>
          </p>
          <p>
            <a href="Mailto:jfinagles@gmail.com" class="text-decoration-none text-muted">Mail</a>
          </p>
          <p>
            <a href="../assets/pic3.jpeg" class="text-decoration-none text-muted" download>DownloadBrouchuer</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-map-marker me-3"></i> Coimbatore,India</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
           jfinagles@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 7448501040</p>
       <a class="text-decoration-none text-muted" href="https://www.jct.ac.in/"><p><i class="fas fa-globe me-3"></i> https://www.jct.ac.in/</p></a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-decoration-none  text-muted fw-bold" href="mailto:jfinangles@gmail.com">JCT-CSE-21-25</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- Footer ends -->
<router-outlet></router-outlet>
